@model Web.ViewModel.UsuarioIndexVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Cadastrar Usuário", "Cadastro")
</p>
<table>
    <tr>
        <th>
            Nome
        </th>
        <th>
            Senha
        </th>
        <th>
            Email
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Usuarios) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Senha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Cadastro", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
